<div
  class="modal fade"
  id="endGameModal"
  tabindex="-1"
  aria-labelledby="endGameModalLabel"
  aria-hidden="true"
>
  <!-- ...existing modal content... -->
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="endGameModalLabel">Game Over!</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body" id="endGameDetails">
        <!-- Final scores/standings will go here -->
      </div>
      <div class="modal-footer">
        <button id="goHomeButton" class="btn btn-primary">Go Home</button>
      </div>
    </div>
  </div>
</div>